html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}
nav{
  background-color: rgb(95, 113, 116);
}

.gradient {
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  background: rgb(253,254,251);
  background: linear-gradient(180deg, rgba(253,254,251,1) 0%, rgba(14,52,58,1) 54%, rgb(2, 24, 41) 97%, rgba(253,254,251,1) 98%);
}

.gradient-1{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(52,87,128,1) 100%);
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.feature {
  color: #ffffff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.div-2 ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  list-style-type: none;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Caroussel image */


.carousel-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.contact{
  color: rgb(144, 134, 134);
}